NODE_ENV="production"

DB_URL="mongodb://localhost:27017/mailbox"
REDIS_URL="redis://:password@localhost:13356"
SITE_URL="https://localhost:3000"

MG_API_KEY="key-12345"
MG_DOMAIN="foo.bar.com"
MG_FROM_EMAIL="postmaster@foo.bar.com"